<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/css/general/null.css">
    <link rel="stylesheet" href="~/css/general/header.css">
    <link rel="stylesheet" href="~/css/general/footer.css">
    <link rel="stylesheet" href="~/css/main_page.css">
    <link rel="stylesheet" href="~/css/main_Author's_page.css">
    <link rel="stylesheet" href="~/css/main_Book_page.css">
    <link rel="stylesheet" href="~/css/main_Cart.css">
    <link rel="stylesheet" href="~/css/main_Design.css">
    <link rel="stylesheet" href="~/css/main_Favorites.css">
    <link rel="stylesheet" href="~/css/main_personal_area.css">
    <link rel="stylesheet" href="~/css/main_search.css">
    <link rel="stylesheet" href="~/css/abaut.css">
</head>
<body>
    <script src="~/js/jqery.js"></script>
     @RenderBody()
</body>
</html>
