@{
    ViewData["Title"] = "О нас";
}
@await Html.PartialAsync("Header")
<div class="about">
    <div class="about_box">
        <div class="about_name">
            О нас
        </div>
        <div class="about_text">
            Веб приложение "Интернет магазина" разработано Семеновым Евгением Александровичем студентом 2 курса в учебных целях.
        </div>
    </div>
</div>

@await Html.PartialAsync("Footer")