@{
    ViewData["Title"] = "Ошибка";
}
@await Html.PartialAsync("Header")
<div class="main_popul_autor-text">Необходимо указать емайл и пароль</div>
@ViewData["NameUsers"];
@await Html.PartialAsync("Footer")
