@{
    ViewData["Title"] = "Ошибка";
}
@await Html.PartialAsync("Header")
<div class="main_popul_autor-text">Пользователь с таким емайлом уже есть</div>
@ViewData["NameUsers"];
@await Html.PartialAsync("Footer")
