@{
    ViewData["Title"] = "Местоположение записанио";
}
@model GeneralModel
@await Html.PartialAsync("Header")
<div class="main_popul_autor-text">Местоположение записано</div>
@ViewData["NameUsers"];
@await Html.PartialAsync("Footer")
