/*Верхняя часть хёдера*/
body {
    margin: 0px;
    display: grid;
    background: rgb(236, 236, 236);
    overflow-x: hidden;
}
.location__link-form{
    display: none;
}

.header{
    height: 150px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*верхняя чёрная полоса*/
.header_conteiner-top{
    background: rgb(0, 0, 0);
    height:  40px;
    display: grid;
    grid-template-columns: minmax(250px, 250px) minmax(165px, auto) auto minmax(260px, 260px) minmax(auto, 100px);
    font-family: "Aria";
    font-size: 14px;
    font-style: unset;
    color: #ffffff;
}
.header_slogan{
    background: rgb(0, 0, 0);
    height:  40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan-Semenova{
    text-align: center;
    padding: 15px;
}
.header_location{
    display: flex;
    background-color: #000000;
}
.location__link-form-button{
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_contacts{
    background-color: rgb(0, 0, 0);
    height:  40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_entrance{
    height:  40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self:end;
    background-color: rgb(0, 0, 0);
    padding: 10px ;
}
.entrance_list{
    display: flex;
}
.ist__vhod-button{
    border: none;
    outline: none;
    background-color: black;
    color: #ffffff;
}
.ist__autorisacia-button{
    border: none;
    outline: none;
    background-color: black;
    color: #ffffff;
}
.location__link-form-button:hover{
	color: #6e6e6e;
}
.location__link-form-button:active{
	color: #f00000;
}
.ist__vhod-button:hover{
	color: #6e6e6e;
}
.ist__vhod-button:active{
	color: #ff0000;
}
.ist__autorisacia-button:hover{
	color: #6e6e6e;
}
.ist__autorisacia-button:active{
	color: #ff0000;
}
/*конец верхней части хедера*/

/*средняя часть хёдера*/
/*логотип*/
.header_conteiner-center {
    display: grid;
    grid-template-columns: minmax(250px, 250px) auto minmax(200px, 200px)  ;
    font-family: "Aria";
    font-size: 14px;
    font-style: unset;
    color: #ffffff;
    align-items: end;
}
.conteiner-center_logo {
    height: 60px;
}
.logo_svg{
    margin-left: 15px;
}
/*поисковая строка*/

.form_content {
    font-size: 16px;
    font-style: italic;
    color: #000;
}
.search_form {
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(50px, 50px);
    
}
.large_pole_input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right:none;
    border-width:1px;
    border-color: #dbdada;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}
.button_search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left:none;
    border-width:1px;
    border-color: #dbdada;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}

/*избранное и корзина*/
.conteiner-center_favorites_and_basket {
    font-family: "Aria";
    font-size: 14px;
    font-style: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    height:  60px;
    margin-right: 15px;
}
/*избранное*/
.favorites_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avorites_box_href {
    color: #999999;
    text-decoration:none;
}
/*корзина*/
.conteiner-center_basket {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center_basket_href {
    color: #999999;
    text-decoration:none;
}
.avorites_svg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket_svg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.avorites_box_href:hover{
	color: #6e6e6e;
}
.avorites_box_href:active{
	color: #f00000;
}
.center_basket_href:hover{
	color: #6e6e6e;
}
.center_basket_href:active{
	color: #f00000;
}
/*конец средней части хёдера*/

/*Нижняя часть хедера*/
.header_conteiner-end {
    font-size: 16px;
    height: 50px;
    display: grid;
    grid-template-columns:minmax(150px, 150px) minmax(85px, 85px) minmax(75px, 75px)  minmax(85px, 85px) minmax(50px, 50px) auto minmax(150px, 180px);
    align-items:end;
    column-gap:20px;
    
}   
.conteiner-end_catalog {
    position: relative;
    display: inline-block;
}
.catalog_box {
    padding-left:20px ;
}
.catalog_box_button {
    background-color: #999999;
    border: none;
    display: flex;
    align-items: end;
    justify-content: end;
    justify-self:end;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.catalog_box_button_3{
    padding-left: 10px;
    font-size: 28px;
    padding-left: 16px;
}
.catalog_box_content {
    background-color: #8f8f8f;
    width: 128px;
    display: none;
    position: absolute;
}
.catalog_box_content_a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.catalog_box_content_a:hover{
    color: #000;
    background-color: rgb(236, 236, 236);
}
.catalog_box_content_a:active{
    color: #ff0000;
}
.catalog_box:hover .catalog_box_content{
    display: block;
}
.conteiner-end_div_a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.conteiner-end_div_a:hover{
    color:  #8f8f8f;
}
.conteiner-end_div_a:active{
    color:  #ff0000;
}

/*конец нижней части хедера*/

/*скрытая форма вход*/
.header_form-box{
    background-color: rgb(236, 236, 236);
    display: none;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.header_form_vhod {
    display: grid;
    grid-template-rows: minmax(30px,30px) minmax(30px,30px) 1fr;
    font-family: "Aria";
    font-size: 18px;
}
.form_vhod_exit-box{
    display: grid;
    justify-content:end;
    align-items:start;
}
.form_vhod_exit {
    border: none;
    outline: none;
}
.form_vhod-text {
    display: grid;
    justify-content:center;
    align-items:center;
    font-size: 25px;
    font-style:normal;
    font-weight:bold;
}
.form_vhod-form {
    display: grid;
    row-gap:10px;
}
.form_vhod-form-box{
    padding: 10px;
}
.form_vhod-form-input {
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    color: #6e6e6e;
}
.form_vhod-form-button{
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    background-color: rgb(182, 182, 182);
    padding: 5px;
    padding-left: 10px;
    color: #424242;
}
.form_vhod_exit:hover{
    color: #000;
}
.form_vhod-form-button:active{
    color: #ffffff;
}
.form_vhod-form-button:hover{
    color: #ff0000;
    background-color: #000000;
}
/*конец скрытой формы вход*/

/*скрытая форма авторизация*/

.header_reg-box {
    background-color: rgb(236, 236, 236);
    display: none;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.header_reg {
    display: grid;
    grid-template-rows: minmax(30px,30px) minmax(30px,30px) 1fr ;
    font-family: "Aria";
    font-size: 18px;
}
.form_reg_exit-box {
    display: grid;
    justify-content:end;
    align-items:start;
}
.form_reg_exit {
    border: none;
    outline: none;
}
.form_reg-text {
    display: grid;
    justify-content:center;
    align-items:center;
    font-size: 25px;
    font-style:normal;
    font-weight:bold;
}
.form_reg-form-box {
    padding: 10px;
}
.form_reg-form {
    display: grid;
    row-gap:10px;
}
.form_reg-form-input {
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    color: #6e6e6e;

}
.form_reg-form-checkbox-text {
    color: #6e6e6e;

}
.form_reg-form-checkbox {
    justify-content:start;
    width: 25px;
    height: 25px;
}
.form_reg-form-button {
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    background-color: rgb(182, 182, 182);
    padding: 5px;
    padding-left: 10px;
    color: #424242;
}

.form_reg-form-button:active{
    color: #ffffff;
}
.form_reg-form-button:hover{
    color: #ff0000;
    background-color: #000000;
}
/*конец формы афторизации*/

.header_location1 {
    background-color: rgb(236, 236, 236);
    display: none;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.header_location_form {
    display: grid;
    grid-template-rows: minmax(30px,30px) minmax(30px,30px) 1fr ;
    font-family: "Aria";
    font-size: 18px;
}
.location_form_exit-box {
    display: grid;
    justify-content:end;
    align-items:start;
}
.form_location_exit {
    border: none;
    outline: none;
}
.form_location-text {
    display: grid;
    justify-content:center;
    align-items:center;
    font-size: 25px;
    font-style:normal;
    font-weight:bold;
}
.form_location-form-box {
    padding: 10px;
}
.form_location-form {
    display: grid;
    row-gap:10px;
}
.form_location-form-input {
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    color: #6e6e6e;
}
.form_location-form-button {
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    background-color: rgb(182, 182, 182);
    padding: 5px;
    padding-left: 10px;
    color: #424242;
}
.form_location-form-button:active{
    color: #ffffff;
}
.form_location-form-button:hover{
    color: #ff0000;
    background-color: #000000;
}
/*Конец Хедера*/
