
@{
    ViewBag.Title = "Оформление";
}
@await Html.PartialAsync("Header")
<main class="main_Design">
    <div class="Design_top">
        Оформление
    </div>
    <div class="Design_content">
        <form action="/Design/Сheck" method="post" class="Design_content_form">
            <label for="" class="content_form_label">
                Населенный пункт
            </label>
            <input name="locality" type="text" placeholder="Красноярск г, Красноярский край, Россия"
                   class="content_form_input-text">
            <label for="" class="content_form_label">
                Способ получения
            </label>
            <div class="content_form_box_checs">
                <div class="content_form_box_checs-box">
                    <input name="way_to_get1" type="checkbox" class="box_checs_checkbox">
                    <div>Курьером</div>
                </div>
                <div class="content_form_box_checs-box">
                    <input name="way_to_get2" type="checkbox" class="box_checs_checkbox">
                    <div>Почта России</div>
                </div>

            </div>
            <label for="" class="content_form_label">
                Адрес доставки
            </label>
            <input name="address" type="text" placeholder="ул. Красноярский рабочий д. 31" class="content_form_input-text">
            <input name="apartment" type="text" placeholder="Квартира/Офис" class="content_form_input-text">
            <label for="" class="content_form_label">
                Получатель
            </label>
            <input name="email" type="text" placeholder="Email..." class="content_form_input-text">
            <input name="full_name" type="text" placeholder="Фаимилия Имя Отчество" class="content_form_input-text">
            <input name="telephone" type="text" placeholder="Телефон" class="content_form_input-text">
            <div class="content_form_box-button">
                <input type="submit" value="Оформить" class="content_form_box-button-input">
            </div>
        </form>
    </div>
</main>
@await Html.PartialAsync("Footer")


