
/*Выше нул, потом удалить*/
.about {
    padding: 50px;
    display: grid;
    gap: 30px;
}
.about_box{

}
.about_name {
    font-weight: bold;
    font-size: 25pt;
}
.about_text {
    font-style: italic;
    font-size: 16pt;
}
.about_book_box{
    display: grid;
    gap: 25px;
}
.about_book {
    font-weight: bold;
    font-size: 25pt;
}
.about_book_box_van-book{

}
.about_book_name {
    font-size: 18pt;
}
.about_autor_name {
    font-size: 16pt;
    font-style: oblique;
}
.about_book_quantity {
    font-weight: bold;
    font-size: 14pt;
}
.itogo_{
    font-weight: bold;
    font-size: 25pt;
    font-style: italic;
}
.itogo_cena{
    font-style: italic;
    font-size: 16pt;
}