/*главная чать доставки*/
.main_Design {
}
.Design_top {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
}
.Design_content {
}
.Design_content_form {
    display: grid;
    grid-template-columns: minmax(auto, 50%);
    justify-content: center;
    gap: 20px;
}
.content_form_label {
    font-size: 18px;
    font-weight: bolder;
}
.content_form_input-text {
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}
.content_form_box_checs {
    
}
.box_checs_checkbox {
    transform:scale(1.5);
    opacity:0.9;
}
.content_form_box_checs-box{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.content_form_box-button {
    padding-bottom: 20px;
    text-align: center;
}
.content_form_box-button-input {
    background-color: #bebebe;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}